.card {
  background-color: black;
  width: 270px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: .25rem;
  color: aliceblue;
}

.me-img {
  width: 100%;
  border-radius: .25rem;
}
